# ------------------------------
# Python bytecode
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------------
# Virtual Environment
# ------------------------------
venv/
.env/
.env.*
.venv/

# ------------------------------
# Pytest
# ------------------------------
.pytest_cache/

# ------------------------------
# Coverage reports
# ------------------------------
.coverage
htmlcov/

# ------------------------------
# Distribution / packaging
# ------------------------------
build/
dist/
*.egg-info/
.eggs/

# ------------------------------
# IDEs / Editors
# ------------------------------
.vscode/
.idea/

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Environment variables
# ------------------------------
.env.local